<body>
  <img id="logo" src="assets/img/McDonald's_Golden_Arches.png">
  <h1>McDonalds Database</h1>

  <div id="container">
    <h2>Log In</h2>
    <form (ngSubmit)="login()">
      <label for="username">Username:</label> <br>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
      <br>
      <label for="password">Password:</label> <br>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
      <br>
      <button type="submit">Login</button>
    </form>

    <h2 class="hide" [ngClass]="{'invalidLogin': invalidLogin}"> Invalid Login Credentials! </h2>
  </div>
</body>