<!-- <body>
    <a routerLink="" id="back">&#x2190;	Back Home</a>
    <img src="assets/img/McDonald's_Golden_Arches.png">
    <h4> Products </h4>
    <div id="container">
        <h5> Insert a product</h5>
        <form (submit)="onSubmit()">
            <label for="name"> <b>Name</b>: </label>
            <input required type="text" [(ngModel)]="formData.item" name="name">

            <br>

            <label for="price"> <b>Price</b>: </label>
            <input required type="number" min="0" [(ngModel)]="formData.price" name="price">

            <br>

            <label for="img"> <b>Image Link</b>: </label>
            <input required type="text" [(ngModel)]="formData.image" name="img">
            
            <br>
            
            <span class = {{this.class}}></span>
            <span class = {{this.found}}> Product already inserted! </span>
            <button type="submit">DONE</button>
        </form>
    </div>

    <div id="deleteProductDiv">
        <h5> Delete a product</h5>
        <select [(ngModel)]="selectedProduct" (change)="changeClass()">        
            @for(product of this.products; track $index){
                <option value = {{product.id}}>{{product.item}}</option>
            }
        </select>
        <span class = {{this.deleteSpanClass}}></span>
        <button id="deleteButton" (click)="deleteSelectedProduct(this.selectedProduct)"> DELETE </button>
    </div>

</body> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>