body {
    background-color: #f8f8f8;
    text-align: center;
    margin: 0;
    font-size: 35px;
    padding-bottom: 200px;
}

#container {
    float: center;
    padding: 0px 10px;
    border: 0.5 solid #ffca40;
    background-color: white;
    color: rgb(75, 75, 75);
    border-radius: 50px;
    width: 54%;
    box-shadow: 0px 0px 5px 0.5px #ffca40;
    margin-left: 22%;
    margin-top: 35px;
    padding-bottom: 12px;
}

#containerOfTheTable {
    float: center;
    width: 55%; //55
    margin-top: 30px;
    margin-left: 22vw;
}

span{
    font-size: 13px;
}

input[type=text], input[type=number] {
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    color:rgb(75, 75, 75);
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 15px;
    width: 150px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 10px;
}
button:hover{
    background-color: white;
    border: 2px solid #ffca40;
    color:rgb(75, 75, 75);
}
button {
    background-color: #ffca40;
    border: 2px solid #ffca40;
    color: rgb(75, 75, 75);
    font-size: 13px;
    padding: 1% 1%;
    border-radius: 70px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
}

.hide{
    display: none;
}

.show {
    display: inline;
}

.show {
    text-align: center;
    display: block;
    color: red;
    font-size: 15px;
}

.show::after {
    content: "Insert all fields!";
}

.inserted {
    text-align: center;
    display: block;
    color: green;
    font-size: 15px;
}

.inserted::after {
    content: "Element inserted!";
}

select{
    width:200px;
    height: 45px;
    margin: 50px 70px 0px 70px;
    padding: 3px;
    border: 2px solid #ffca40;
    color:rgb(75, 75, 75);
    border-radius: 30px;
    font-size: 18px;
    text-align: center;
}

#deleteButton {
    float: right;
    background-color: red;
    border: 2px solid red;
    color: white;
    font-size: 15px;
    border-radius: 70px;
    font-weight: bold;
    padding: 1% 0%;
    position: absolute;
    top: 35px;
    right: 80px;
    width: 100px;
    text-align: center;
}

#activateStateButton {
    float: right;
    width: 100px;
    background-color: green;
    border: 2px solid green;
    color: white;
    font-size: 15px;
    border-radius: 70px;
    font-weight: bold;
    padding: 1% 0%;
    position: absolute;
    top: 35px;
    right: 301px;
    text-align: center;
    
}

#deactivateStateButton {
    float: right;
    width: 100px;
    background-color: gray;
    border: 2px solid gray;
    color: white;
    font-size: 15px;
    border-radius: 70px;
    font-weight: bold;
    padding: 1% 0%;
    position: absolute;
    top: 35px;
    right: 190px;
    text-align: center;
}

#deleteButton:hover, #activateStateButton:hover, #deactivateStateButton:hover {
    background-color: white;
    color: black;
}

#loadingImg {
    width: 100px;
    height: 100px;
    z-index: 1000;
    float: center;
}

.visualEffectOfTable {
    filter: blur(7px);
    pointer-events: none
}

.circleStateActive {
    width: 26px;
    height: 25px;
    color: green;
    background-color: green;
    border-radius: 100%;
}

.circleStateDeactive {
    width: 26px;
    height: 25px;
    color: gray;
    background-color: gray;
    border-radius: 100%;
}

h1{
    margin-bottom: 30px;
    float: center;
}

.found{
    text-align: center;
    display: block;
    color: red;
    font-size: 15px;
}

.notFound{
    display: none;
}

table {
    width: 25%;
    height: 25%;
}

img {
   // width: 45%;
    height: 50px;
}

td, th {
    width: 200px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 55%;
    margin-bottom: -700px;
    float: center;
}
