body {
    background-color: #f8f8f8;
    text-align: center;
    margin: 0;
    font-size: 35px;
}

#container {
    float: left;
    padding: 0px 10px;
    border: 0.5 solid #ffca40;
    background-color: white;
    color: rgb(75, 75, 75);
    border-radius: 50px;
    width: 350px;
    height: 450px;
    margin-left: 24vw;
    margin-top: 30px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 5px 0.5px #ffca40;
}

label{
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

input[type=text], input[type=number] {
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    color:rgb(75, 75, 75);
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
button:hover{
    background-color: white;
    border: 2px solid #ffca40;
    color:rgb(75, 75, 75);
}
button {
    background-color: #ffca40;
    border: 2px solid #ffca40;
    color: rgb(75, 75, 75);
    font-size: 15px;
    border-radius: 70px;
    font-weight: bold;
    padding: 5% 7%;
    margin-top: 20px;
}

h4{
    margin: 50px 20px 40px 20px;
    color:rgb(75, 75, 75);
}

h5{
    margin: 20px 0px;
    color: #ffca40;
}

img{
    text-align: center;
    width: 60px;
    position: fixed;
    margin: 20px;
    margin-top:-20px;
    left: 0;
}


a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(75, 75, 75);
    position: absolute;
    font-size: 20px;
    margin: 45px;
    margin-top: 75px;
    bottom: 0;
}

.hide{
    display: none;
}

.show {
    text-align: center;
    position: fixed;
    display: block;
    color: red;
    font-size: 15px;
    margin: 125px;margin-top: 0px;
}

.show::after {
    content: "Insert all fields!";
}

.inserted {
    text-align: center;
    position: fixed;
    display: block;
    color: green;
    font-size: 15px;
    margin: 116px;margin-top: 0px;
}

.inserted::after {
    content: "Element inserted!";
}

.deleted {
    text-align: center;
    position: fixed;
    display: block;
    color: green;
    font-size: 15px;
    margin: 116px;
    margin-top: 40px;
}

.deleted::after {
    content: "Element deleted!";
}

#deleteProductDiv {
    float: right;
    padding: 0px 10px;
    border: 0.5 solid #ffca40;
    background-color: white;
    color: rgb(75, 75, 75);
    border-radius: 50px;
    width: 350px;
    height: 450px;
    margin-right: 24vw;
    margin-top: 30px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 5px 0.5px #ffca40;
}

select{
    width:200px;
    height: 45px;
    margin: 50px 70px 0px 70px;
    padding: 3px;
    border: 2px solid #ffca40;
    color:rgb(75, 75, 75);
    border-radius: 30px;
    font-size: 18px;
    text-align: center;
}

#deleteButton {
    background-color: red;
    border: 2px solid red;
    color: white;
    font-size: 15px;
    border-radius: 70px;
    font-weight: bold;
    padding: 5% 7%;
    margin-top: 100px;
}

.found{
    margin: auto;
    margin-left: 85px;
     margin-top: 0px; 
    text-align: center;
    position: fixed;
    display: block;
    color: red;
    font-size: 15px;
 }

 .notFound{
    display: none;
}